
.container{
    border:2px solid 	black;
    border-radius: 2%;
}
.welcome{
    color: black;
}
.txt{
    color: lightslategray;
    font-size: small;
}
.btn.btn-success{
    color:white;
    width: 100%;
    background-color: blue;
}
.message{
    float: right;
    color: red;
}