.container{
    border:2px solid 	black;
    border-radius: 2%;
}
.welcome{
    color: black;
}
.txt{
    color: lightslategray;
}
.error{
    color: red;
    float: right;
}
.btn.btn-success{
    width: 100%;
    background-color: blue;
}
.signup{
    color: lightslategray;
}